#s{
    height:500px;
    width: 500px;
    background-size: cover;
    background-repeat: no-repeat;
background-image:                                                                                    
}
.s1{
    height: 500px;
    width: 500px;
    float: right;
    background-color: red;
    padding-bottom: px;
    border-radius: 2px;
}
